alias zconfig="nvim ~/.zshrc"
alias zrel="source ~/.zshrc"

alias artisan="php artisan"
alias sail='sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'

releasethekraken() {
  if ping -c 1 -W 1 10.0.0.30 &>/dev/null; then
    ssh wolfius@10.0.0.30 "$@"
  else
    ssh wolfius@kraken "$@"
  fi
}
alias vi="nvim"

alias ls="eza --icons --group-directories-first"
alias ll="eza --icons --group-directories-first -la"

alias storm="open -a 'phpstorm.app' ."

alias convertvideo='convert_video'
alias convertvideohdr='convert_video_hdr_aggressive'

